.app-container {
  background: black;
  color: #3e6378, #213a49, #162630;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

header {
  background-color: #313131;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.navbar-container {
  font-size: 100%;

  width: 90%;
  margin: 0 auto;
}

.nav-home {
  margin: 5px;
  padding: 0 15px;
  float: left;
  font-size: 36px;
  color: #3e6378;
  border: 2px solid #3e6378;
  border-radius: 5px;
}
.nav-home:hover {
  color: #799fb9;
  border: 2px solid #799fb9;
}

.nav {
    display:center;
  font-size: 20px;
  float: right;
  color: #3e6378;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom:5px;
  position: relative;
}
nav li {
  color: #3e6378;
  text-decoration: none;
  text-transform: uppercase;
}
nav li:hover {
  color: #799fb9;
}
nav li::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #3e6378;
  position: absolute;
  bottom:0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav li:hover::before {
  width: 100%;
}
