html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#body {
  color: white;
  height: 100%;
  margin-top: 9vh;
}
.app-container {
  background-color: #3e6378;
  color: #3e6378, #213a49, #162630;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-variation-settings: "wdth" var(--text-axis);
  min-height: 91vh;
}
header {
  background-color: #313131;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9vh;
}
footer {
  background-color: #313131;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home-title{
  font-size: 48px;
  padding-top: 10%;
  padding-left: 23%;
  padding-right: 25%;
}
.home-content {
  padding-top: 10px;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
  font-size: 20px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}
.navbar-container {
  font-size: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  max-height: 9vh;
}

.nav-logo {
  
  margin: 3px;
  height: 78px;
  width: 104px;
  float: left;
}

.nav {
  display: center;
  font-size: clamp(8px, 2vw, 28px);
  float: center;
  color: #3e6378;
}
nav ul {
  float: center;
  margin-left: 10%;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0;
  margin-left: 5vw;
  margin-right: 2.5vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  position: relative;
}
nav li {
  color: #3e6378;
  text-decoration: none;
  text-transform: uppercase;
}
nav li:hover {
  color: #799fb9;
}
nav li::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #3e6378;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav li:hover::before {
  width: 100%;
}
